[submodule "pyMINT"]
	path = pyMINT
	url = https://github.com/CIDARLAB/pyMINT.git
	branch = master
[submodule "pyparchmint"]
	path = pyparchmint
	url = https://github.com/CIDARLAB/pyparchmint.git
	branch = master
[submodule "pylfr"]
	path = pylfr
	url = https://github.com/CIDARLAB/pyLFR.git
	branch = constructionv2
