[submodule "pyMINT"]
	path = pyMINT
	url = https://github.com/CIDARLAB/pyMINT.git
[submodule "pyparchmint"]
	path = pyparchmint
	url = https://github.com/CIDARLAB/pyparchmint.git
[submodule "MINT-TestCases"]
	path = test
	url = https://github.com/CIDARLAB/MINT-TestCases.git
[submodule "pylfr"]
	path = pylfr
	url = https://github.com/CIDARLAB/pyLFR.git
