[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"antlr4-python3-runtime" = "*"
networkx = "*"
argparse = "*"
hypernetx = "*"
pydot = "*"
matplotlib = "*"
pygraphviz = "*"

[dev-packages]
pylint = "*"
