[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"antlr4-python3-runtime" = "*"
networkx = "*"
argparse = "*"
hypernetx = "*"
pydot = "*"
matplotlib = "*"
pygraphviz = "*"
pyfiglet = "*"
jpype1 = "*"
parchmint = {editable = true, path = "./../pyparchmint"}
mint = {editable = true, path = "./../pymint"}

[dev-packages]
pylint = "*"
